.footer {
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 80px 8vw; /* Combined padding for top/bottom and left/right */
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; /* Two columns for left and center, one for right */
    gap: 80px;
}

.footer-content-left li,
.footer-content-right li,
.footer-content-center li {
    list-style: none;
    margin-bottom: 10px;
}

/* Align the right section to the bottom and top */
.footer-content-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the right */
    justify-content: flex-start; /* Align items to the top */
}

/* Center the middle section */
.footer-content-center {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items */
}

/* Heading color for right and center sections */
.footer-content-right h2,
.footer-content-center h2 {
    color: white;
}

.footer-social-icon img {
    width: 40px;
    margin-right: 15px;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
    .footer-content {
        grid-template-columns: 1fr; /* Stack columns on smaller screens */
        gap: 20px; /* Reduce gap on smaller screens */
    }

    .footer-content-right {
        align-items: center; /* Center items on smaller screens */
    }

    .footer {
        padding: 40px 5vw; /* Adjust padding for smaller screens */
    }
}
