.footer {
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 60px 5vw;
    width: 100%;
}

.footer-content {
    width: 100%;
    max-width: 1200px; /* Added a max-width to keep the content centered and not too wide */
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; /* Defines three columns */
    gap: 40px;
}

.footer-content-left,
.footer-content-center,
.footer-content-right {
    display: flex;
    flex-direction: column;
}

.footer-content-left img {
    width: 120px;
    margin-bottom: 10px;
}

.footer-content-left p {
    margin-top: 10px;
    line-height: 1.6;
}

.footer-content-center ul,
.footer-content-right ul {
    padding: 0;
    margin: 0;
}

.footer-content-center li,
.footer-content-right li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-content-right {
    align-items: flex-end;
    text-align: right;
}

.footer-content-center {
    align-items: center;
    text-align: center;
}

.footer-social-icon {
    display: flex;
    gap: 10px;
}

.footer-social-icon img {
    width: 30px;
    margin-right: 15px;
}

hr {
    width: 100%;
    border: 0.5px solid #555555;
    margin-top: 20px;
}

.footer-copyright {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
    .footer-content {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .footer-content-left,
    .footer-content-center,
    .footer-content-right {
        align-items: center;
        text-align: center;
    }

    .footer-social-icon {
        justify-content: center;
    }

    .footer {
        padding: 40px 5vw;
    }
}

@media (max-width: 480px) {
    .footer-content {
        gap: 20px;
    }

    .footer-social-icon img {
        width: 25px;
    }

    .footer-content-left img {
        width: 100px;
    }
}
